<!DOCTYPE html>
<html>
<head>
    <script src="js/jquery-3.7.1.min.js"></script> 
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
    <style>
        table {
            border-collapse: collapse;
        }
        tr, th, td {
            border: 1px solid #ccc;
        }
        th, td {
            padding: 5px;
        }
        td input {
            width: 80px;
        }
        a {
            text-decoration: none; color: inherit;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" placeholder="검색어 입력" v-model="keyword" @keyup.enter="fnGetList">
    <select v-model="stuGrade" @change="fnGetList">
        <option value="">::전체::</option>
        <option value="1">1학년</option>
        <option value="2">2학년</option>
        <option value="3">3학년</option>
    </select>
    <button type="button" @click="fnGetList">검색</button>
    <div style="margin: 10px 0 15px; display: flex;">
        <label><input type="radio" name="array" v-model="orderVal" @change="fnGetList" value="ASC" :checked="orderVal">오름차순</label>
        <label><input type="radio" name="array" v-model="orderVal" @change="fnGetList" value="DESC">내림차순</label>
        <select v-model="orderName" @change="fnGetList">
            <option value="name">이름순</option>
            <option value="no">학번순</option>
            <option value="grade">학년순</option>
        </select>
    </div>
    <table>
        <tr>
            <th><input type="checkbox" v-model="isAllcehcked" :checked="isAllcehcked" @change="fnAllCheck(!isAllcehcked)"></th>
            <th>학번</th>
            <th>이름</th>
            <th>학과</th>
            <th>학년</th>
            <th>성별</th>
            <th>수정</th>
        </tr>
        <tr v-for="(item, index) in list">
            <td><input type="checkbox" :checked="isCheked" @change="fnCheck" :value="item.STU_NO" :id="'stu-' + index" name="stuNo" v-model="checkVal"></td>
            <!-- <td><input type="radio" :value="item.STU_NO" name="stuNo" v-model="radioVal"></td> -->
            <template v-if="item.STU_NO == updateStuNo">
                <td><label :for="'stu-' + index">{{item.STU_NO}}</label></td>
                <td><input type="text" v-model="item.STU_NAME"></td>
                <td><input type="text" v-model="item.STU_DEPT"></td>
                <td><input type="text" v-model="item.STU_GRADE"></td>
                <td>
                    <!-- <input type="text" v-model="item.STU_GENDER"> -->
                    <select v-model="item.STU_GENDER">
                        <option value="M">남자</option>
                        <option value="F">여자</option>
                    </select>
                </td>
                <td>
                    <button type="button" @click="fnSave(item.STU_NO, item.STU_NAME, item.STU_DEPT, item.STU_GRADE, item.STU_GENDER)">저장</button>
                    <!-- <button type="button" @click="fnSave(item)">저장</button> -->
                </td>
            </template>
            <template v-else>
                <td><label :for="'stu-' + index">{{item.STU_NO}}</label></td>
                <td><a href="javascript:" @click="fnInfo(item.STU_NO)">{{item.STU_NAME}}</a></td>
                <td>{{item.STU_DEPT}}</td>
                <td>{{item.STU_GRADE}}</td>
                <td>
                    <template v-if="item.STU_GENDER == 'M'">남자</template>
                    <template v-else>여자</template>
                </td>
                <td><button type="button" @click="fnUpdate(item.STU_NO)">수정</button></td>
            </template>
        </tr>
    </table>
    <button type="button" @click="fnRemove(checkVal)">삭제</button>
    <!-- <button type="button" @click="fnRemove(radioVal)">삭제</button> -->
</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                list : [],
                keyword : "",
                updateStuNo : "",
                stuGrade : "",
                radioVal : "",
                checkVal : [],
                isCheked : false,
                isAllcehcked : false,
                defaultList : [],
                orderVal : "ASC",
                orderName : "name"
            };
        },
        methods: {
            fnGetList(){
                let self = this;
                let url = `http://localhost:3000/list?keyword=${self.keyword}&grade=${self.stuGrade}&order=${self.orderVal}&orderName=${self.orderName}`;
                $.ajax({
                    url : url,
                    dataType : "json",
                    type : "GET",
                    data : {},
                    success : function(data){
                        //console.log(data);
                        self.list = data;
                        self.list.map(key => self.defaultList.push(key.STU_NO));
                        // for(let i=0; i <self.list.length; i++) {
                        //     self.defaultList.push(self.list[i].STU_NO);
                        // }
                    }
                });
            },
            fnUpdate(stuNo) {
                this.updateStuNo = stuNo;
            },            
            fnRemove(stuNo) {
                if(!confirm("삭제하시겠습니까?")) {
                    return;
                }
                // var query = "";
                // for(let i=0; i<self.checkVal.length; i++) {
                //     query += `stuNo=${self.selectList[i]}&`;
                // }
                let self = this;
                $.ajax({
                    url : `http://localhost:3000/delete?stuNo=${stuNo}`,
                    dataType : "json",
                    type : "GET",
                    data : {},
                    success : function(data){
                        alert(data[0].message);
                        self.fnGetList();
                        self.checkVal = [];
                        self.defaultList = [];
                        self.isAllcehcked = false;
                    }
                });
            },
            // fnRemove(stuNo) {//radio
            //     if(!confirm("삭제하시겠습니까?")) {
            //         return;
            //     }
            //     let self = this;
            //     $.ajax({
            //         url : `http://localhost:3000/delete?stuNo=${stuNo}`,
            //         dataType : "json",
            //         type : "GET",
            //         data : {},
            //         success : function(data){
            //             alert(data[0].message);
            //             self.fnGetList();
            //             self.radioVal = "";
            //         }
            //     });
            // },
            fnSave(stuNo, name, dept, grade, gender) {
                let self = this;
                $.ajax({
                    url : `http://localhost:3000/save?stuNo=${stuNo}&name=${name}&dept=${dept}&grade=${grade}&gender=${gender}`,
                    dataType : "json",
                    type : "GET",
                    data : {},
                    success : function(data){
                        //alert(data[0].message);
                        self.fnUpdate();
                    }
                });
            },
            fnAllCheck(isCheked){
                let self = this;
                this.isCheked = !isCheked;
                if(this.isCheked) {
                    self.checkVal = self.defaultList;
                } else {
                    self.checkVal = [];
                }
            },
            fnCheck() {                
                if(this.defaultList.length == this.checkVal.length) {
                    this.isAllcehcked = true;
                } else {
                    this.isAllcehcked = false;
                }
            },
            fnInfo(stuNo) {
                location.href=`info.html?stuNo=${stuNo}`;
            }
        },
        mounted() {
            this.fnGetList();
        }
    });
    app.mount('#app');
</script>
</body>
</html>