/* SUIT */
@font-face {
	font-family: "SUIT";
	font-weight: 100;
	src: url("SUIT-Thin.woff2") format("woff2");
}
@font-face {
	font-family: "SUIT";
	font-weight: 200;
	src: url("SUIT-ExtraLight.woff2") format("woff2");
}
@font-face {
	font-family: "SUIT";
	font-weight: 300;
	src: url("SUIT-Light.woff2") format("woff2");
}
@font-face {
	font-family: "SUIT";
	font-weight: 400;
	src: url("SUIT-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "SUIT";
	font-weight: 500;
	src: url("SUIT-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "SUIT";
	font-weight: 600;
	src: url("SUIT-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: "SUIT";
	font-weight: 700;
	src: url("SUIT-Bold.woff2") format("woff2");
}
@font-face {
	font-family: "SUIT";
	font-weight: 800;
	src: url("SUIT-ExtraBold.woff2") format("woff2");
}
@font-face {
	font-family: "SUIT";
	font-weight: 900;
	src: url("SUIT-Heavy.woff2") format("woff2");
}
/* SUIT */
/* Rubik */
@font-face {
	font-family: "Rubik";
	font-weight: 300;
	src: url("Rubik-Light.woff2") format("woff2");
}
@font-face {
	font-family: "Rubik";
	font-weight: 400;
	src: url("Rubik-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Rubik";
	font-weight: 500;
	src: url("Rubik-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "Rubik";
	font-weight: 600;
	src: url("Rubik-SemiBold.woff2") format("woff2");
}
/* Rubik */
/* RubikSUIT(SUIT - 700, Rubik - 600) */
@font-face {
	font-family: "RubikSUIT";
	font-weight: 700;
	src: url("SUIT-Bold.woff2") format("woff2");
	unicode-range: U+AC00-D7A3;
}
@font-face {
	font-family: "RubikSUIT";
	font-weight: 700;
	src: url("Rubik-SemiBold.woff2") format("woff2");
	unicode-range: U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E, U+0041-005A, U+0061-007A;
}
/* //RubikSUIT(SUIT - 800, Rubik - 500) */