<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div id="container">
            <ul class="join-list">
                <li class="ip-check">
                    <p>아이디</p>
                    <template v-if="!isCheck">
                        <input type="text" v-model="info.id" placeholder="아이디는 5자 이상 입력해주세요">
                    </template>
                    <template v-else>
                        <input type="text" v-model="info.id" disabled>
                    </template>
                    <button type="button" @click="idCheck" class="btn">중복확인</button>
                </li>
                <li>
                    <p>비밀번호</p>
                    <input type="password" v-model="info.pwd" placeholder="비밀번호는 6자 이상 입력해주세요">
                </li>
                <li>
                    <p>비밀번호 확인</p>
                    <input type="password" v-model="info.rePwd" placeholder="비밀번호를 재입력 해주세요">
                </li>
                <li>
                    <p>이름</p>
                    <input type="text" v-model="info.name" placeholder="이름을 입력해주세요">
                </li>
                <li>
                    <p>이메일</p>
                    <input type="text" v-model="info.email" placeholder="이메일을 입력해주세요">
                </li>
                <li>
                    <p>전화번호</p>
                    <input type="text" v-model="info.tel" placeholder="전호번호는 숫자만 입력해주세요">
                </li>
                <li>
                    <p>성별</p>
                    <div class="ra-box">
                        <input type="radio" value="M" id="M" v-model="info.gender">
                        <label for="M"><span class="box"></span>남자</label>
                    </div>
                    <div class="ra-box">
                        <input type="radio" value="F" id="F" v-model="info.gender">
                        <label for="F"><span class="box"></span>여자</label>
                    </div>
                </li>
                <li>
                    <button type="button" @click="fnJoin" class="btn">회원가입</button>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 영역, ex) name : '홍길동', age : 20
                info : {
                    id: "",
                    pwd: "",
                    rePwd: "",
                    name: "",
                    email: "",
                    tel: "",
                    gender: ""
                },
                isCheck : false
            };
        },
        methods: {
            // 메소드 영역 
            fnJoin() {
                let self = this;
                const emptyVal = this.isEmpty(this.info);
                console.log(emptyVal);
                if(!this.isCheck) {
                    alert("아이디 중복 체크를 확인해 주세요");
                } else if(this.info.id.length < 5) {
                    alert("아이디는 5자 이상 작성해주세요.");
                } else if(this.info.pwd.length < 6) {
                    alert("비밀번호는 6자 이상 작성해주세요.");
                } else if(this.info.pwd != this.info.rePwd) {
                    alert("비밀번호와 비밀번화 확인의 입력값을 확인해주세요");
                } else if (emptyVal) {
                    alert("모든 데이터 값을 입력해 주세요");
                } else {
                    let url = `http://localhost:3000/join`;
                    $.ajax({
                        url: url,
                        dataType: "json",
                        type: "POST",
                        data: JSON.stringify(self.info),
                        contentType : "application/json",
                        success: function (data) {
                            alert(data.msg);
                            location.href = 'login2.html';
                        }
                    });
                }
            },
            idCheck() {
                if(this.info.id.length < 5) {
                    alert("아이디는 5자 이상으로 작성 후 눌러주세요");
                } else {
                    let self = this;
                    let url = `http://localhost:3000/idCheck?id=${this.info.id}`;
                    $.ajax({
                        url: url,
                        dataType: "json",
                        type: "GET",
                        data: {},
                        success: function (data) {
                            if(data[0].CNT > 0) {
                                alert("이미 가입 된 아이디 입니다.");
                            } else {
                                alert("사용 가능한 아이디 입니다.");
                                self.isCheck = true;
                            }
                        }
                    });
                }
            },
            isEmpty(obj) {
                return Object.values(obj).some(value => value === "");
            }
        },
        mounted() {
            // 처음 시작할 때 실행되는 부분
        }
    });
    app.mount('#app');
</script>